body {
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 35px;
}

h1 {
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 300;
}

div {
    font-weight: 600;
}

p {
    font-family: "Roboto Mono", serif;
    font-size: 12px;
    font-weight: 400;
}

a:link {
    color: dimgrey;
    text-decoration: none;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color: black;
    background-color: lightgrey;
}